.char-main {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 100px;
}
.character-page {
	background-color: var(--dark);
	padding-top: 50px;
}
.character-content {
	width: 1280px;
	margin: 0 auto;
}
.char-main img {
	height: 500px;
	width: 400px;
	object-fit: cover;
	border-radius: 10px;
}
.char-info {
	width: 40%;
	height: fit-content;
	padding: 50px;
	background-color: rgb(92, 92, 92);
	border-radius: 10px;

	color: #fff;
}
h3 {
	font-family: var(--roboto-condensed);
	font-size: 30px;
	font-weight: 700;
}
.char-info p {
	margin: 20px 0;
	font-size: 18px;
	line-height: 24px;
	text-align: justify;
}
.comics-title {
	color: #fff;
	font-size: 28px;
	margin-bottom: 40px;
}
/* .char-comics {
	display: flex;
	overflow: hidden;
	overflow-x: scroll;
	gap: 20px;
} */
.character-page h4 {
	color: #000;
	font-family: inherit;
}
.char-comics::-webkit-scrollbar {
	display: none;
}
/* .comic-tile {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.comic-tile h3 {
	color: #fff;
	font-size: 20px;
}
.comic-tile img {
	width: 300px;
	height: 380px;
} */
.comic-tile img {
	width: 260px;
	height: 360px;
}
.comic-tile h5 {
	color: #fff;
	padding: 20px 0 0 0;
	font-size: 20px;
	width: 80%;
	font-family: var(--roboto-condensed);
}
