.hero {
	width: 100%;
	background-color: rgba(20, 20, 20, 0.918);
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
	font-family: var(--roboto-condensed);
	font-weight: 700;
}
