.pagination-container {
	width: 1280px;
	margin: 40px auto;
	display: flex;
	justify-content: center;
}
.pagination {
	width: 35%;
	display: flex;
	justify-content: space-around;
}
.page-nb {
	display: flex;
	gap: 10px;
}

.pagination-container button {
	padding: 5px 10px;
	font-family: inherit;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	/* border-radius: 10px;
	border-bottom: 5px solid var(--dark);
	border-top: 3px solid var(--dark); */
	background-color: transparent;
	color: var(--dark);
	cursor: pointer;
	color: var(--dark);
	font-size: 18px;
}

.pagination-container .active {
	background-color: rgb(235, 24, 24);
	color: #fff;
	border-radius: 3px;
}
.pagination-container .disabled {
	color: #c5c5c5;
	border-color: #b3b3b3;
	cursor: auto;
}
